.focal-editor-content {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.focal-editor-size {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem;
}

.focal-editor-size > p {
    margin: 0.2rem 0;
}

.focal-editor-size-name {
    font-size: 1rem;
    font-weight: 600;
}

.focal-editor-size-preview {
    background-image: linear-gradient(
            45deg,
            #e6e6e6 25%,
            transparent 25%,
            transparent 75%,
            #e6e6e6 75%
    ),
    linear-gradient(
            45deg,
            #e6e6e6 25%,
            transparent 25%,
            transparent 75%,
            #e6e6e6 75%
    );
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    cursor: pointer;
    height: 200px;
    transition: box-shadow 100ms ease-out;
    width: 200px;
}

.focal-editor-size.loading .focal-editor-size-preview {
    align-items: center;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
}

.focal-editor-size.loading .spinner {
    margin: 0;
}

.focal-editor-size-preview img {
    display: block;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    width: 100%;
}

.focal-editor-size.uncropped .focal-editor-size-preview {
    overflow: hidden;
    position: relative;
}

.focal-editor-size.uncropped .focal-editor-size-preview img {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    object-fit: cover;
}

.focal-editor-size.uncropped .focal-editor-size-preview p {
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 2rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.focal-editor-size-preview:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.focal-editor-size-preview.active {
    box-shadow: 0 0 0 3px #aaaaff, 0 0 6px rgba(0, 0, 0, 0.5);
}

/** ---------------------------------- */

.focal-editor {
    margin-top: 1rem;
    position: relative;
}

.focal-editor-message {
    left: 50%;
    position: fixed;
    top: 3.6rem;
    transform: translate(-50%, -50%);
    z-index: 200000;
}

.focal-editor-cropper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.focal-editor-copper img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.focal-editor-footer {
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    justify-content: flex-end;
    margin: 0 -1rem;
    padding: 0 1rem;
}

.focal-editor-footer .button {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
}

.focal-editor-footer .button + .button {
    margin-left: 0.5rem;
}

.focal-editor-footer .button .spinner {
    float: none;
    margin: 0;
    transform: scale(0);
    transition: transform 100ms ease-out, width 100ms ease-out,
    margin 100ms ease-out;
    width: 0;
}

.focal-editor-footer .button .spinner.is-active {
    margin-right: 0.5rem;
    transform: scale(1);
    width: 20px;
}
