.lazy-modal .media-frame-title {
    display: flex;
    flex-flow: row nowrap;
    left: 0;
}

.lazy-modal .lazy-modal-title {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.lazy-modal .lazy-modal-title-end {
    margin-left: auto;
}

.lazy-modal .lazy-modal-title-end .media-modal-close {
    position: static;
}

.lazy-modal .lazy-modal-title-start button,
.lazy-modal .lazy-modal-title-end button {
    background: transparent;
    border: 0;
    color: #787c82;
    cursor: pointer;
    height: 50px;
    padding: 0;
    text-align: center;
    transition: color 100ms ease-out, background-color 100ms ease-out;
    width: 50px;
}

.lazy-modal .lazy-modal-title-start button:hover,
.lazy-modal .lazy-modal-title-end button:hover {
    background: #dcdcde;
    box-shadow: 0;
    color: #000;
    outline: 0;
}

.lazy-modal .lazy-modal-content {
    bottom: 0;
    left: 0;
    padding: 0 1rem;
    top: 50px;
}

.lazy-modal-content > p {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}
